body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; /* só garante altura mínima da tela */
    --u: 5px;
    --c1: #ededee;
    --c2: #000000;
    --c3: #1e1e1e;
    --gp: 50% / calc(var(--u) * 16.9) calc(var(--u) * 12.8);
    background: conic-gradient(from 122deg at 50% 85.15%,
            var(--c2) 0 58deg,
            var(--c3) 0 116deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 122deg at 50% 72.5%, var(--c1) 0 116deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 82.85% 50%, var(--c3) 0 64deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 66.87% 50%,
            var(--c1) 0 64deg,
            var(--c2) 0 130deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 238deg at 17.15% 50%, var(--c2) 0 64deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 172deg at 33.13% 50%,
            var(--c3) 0 66deg,
            var(--c1) 0 130deg,
            #fff0 0 100%) var(--gp),
        linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        conic-gradient(from -58deg at 50.25% 14.85%,
            var(--c3) 0 58deg,
            var(--c2) 0 116deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from -58deg at 50% 28.125%, var(--c1) 0 116deg, #fff0 0 100%) var(--gp),
        linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}

.organizador {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.conteudo {
  height: 90vh;
  width: 90vw; /* menor que 100vw pra não colar nas bordas */
  margin: 20px auto;
  padding: 30px;
  background: #ededee;
  border: 8px solid #000;
  border-radius: 15px;
  box-shadow: 15px 15px 0 #000;
  transform: rotate(-1deg);
  transition: all 0.3s ease;
  font-family: "Proxima Nova", sans-serif;
  font-size: 28px;
  color: #1e1e1e;
  overflow-y: auto;
  position: relative;
}

/* efeito hover igual ao card */
.conteudo:hover {
  transform: rotate(0deg) scale(1.01);
  box-shadow: 20px 20px 0 #000;
}

/* clique com shake */
.conteudo:active {
  animation: shake 0.5s ease-in-out;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  width: 98vw;
  perspective: 500px;
  transform: rotateX(10deg);
  animation: rotateAngle 6s linear infinite;
}

.menu-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  perspective: 500px;
  transform-style: preserve-3d;
}

.menu-links a {
  position: relative;
  display: block;
  padding: 0.8em 1.6em;
  background: #ffffff;
  border-radius: 0.4em;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
  transition: background 0.3s 0.1s;
  overflow: hidden; /* garante que os efeitos fiquem dentro */
}

.menu-links a span {
    color:#FF1731;
  mix-blend-mode: none;
  display: block;
  position: relative;
  z-index: 2; /* texto sempre visível acima das camadas */
}

.menu-links a:before,
.menu-links a:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  mix-blend-mode: inherit;
  transform-style: preserve-3d;
  transform: translate3d(
    calc(var(--z) * 0px),
    calc(var(--z) * 0px),
    calc(var(--z) * 0px)
  );
}

.menu-links a:before {
  background-color: #FF1731;
}
.menu-links a:after {
  background-color: #5D00FF;
}

.menu-links a:hover {
  background: #FFF65B;
}

.menu-links a:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
}

.menu-links a:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
}
@keyframes translateWobble {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(10px, -10px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#ghost {
  position: relative;
  scale: 0.8;
}

#red {
  animation: upNDown infinite 0.5s;
  position: relative;
  width: 140px;
  height: 140px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "a1  a2  a3  a4  a5  top0  top0  top0  top0  a10 a11 a12 a13 a14"
    "b1  b2  b3  top1 top1 top1 top1 top1 top1 top1 top1 b12 b13 b14"
    "c1 c2 top2 top2 top2 top2 top2 top2 top2 top2 top2 top2 c13 c14"
    "d1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 d14"
    "e1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 e14"
    "f1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 f14"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "st0 st0 an4 st1 an7 st2 an10 an10 st3 an13 st4 an16 st5 st5"
    "an1 an2 an3 an5 an6 an8 an9 an9 an11 an12 an14 an15 an17 an18";
}

@keyframes upNDown {
  0%,
  49% {
    transform: translateY(0px);
  }
  50%,
  100% {
    transform: translateY(-10px);
  }
}

#top0,
#top1,
#top2,
#top3,
#top4,
#st0,
#st1,
#st2,
#st3,
#st4,
#st5 {
  background-color: red;
}

#top0 {
  grid-area: top0;
}

#top1 {
  grid-area: top1;
}

#top2 {
  grid-area: top2;
}

#top3 {
  grid-area: top3;
}

#top4 {
  grid-area: top4;
}

#st0 {
  grid-area: st0;
}

#st1 {
  grid-area: st1;
}

#st2 {
  grid-area: st2;
}

#st3 {
  grid-area: st3;
}

#st4 {
  grid-area: st4;
}

#st5 {
  grid-area: st5;
}

#an1 {
  grid-area: an1;
  animation: flicker0 infinite 0.5s;
}

#an18 {
  grid-area: an18;
  animation: flicker0 infinite 0.5s;
}

#an2 {
  grid-area: an2;
  animation: flicker1 infinite 0.5s;
}

#an17 {
  grid-area: an17;
  animation: flicker1 infinite 0.5s;
}

#an3 {
  grid-area: an3;
  animation: flicker1 infinite 0.5s;
}

#an16 {
  grid-area: an16;
  animation: flicker1 infinite 0.5s;
}

#an4 {
  grid-area: an4;
  animation: flicker1 infinite 0.5s;
}

#an15 {
  grid-area: an15;
  animation: flicker1 infinite 0.5s;
}

#an6 {
  grid-area: an6;
  animation: flicker0 infinite 0.5s;
}

#an12 {
  grid-area: an12;
  animation: flicker0 infinite 0.5s;
}

#an7 {
  grid-area: an7;
  animation: flicker0 infinite 0.5s;
}

#an13 {
  grid-area: an13;
  animation: flicker0 infinite 0.5s;
}

#an9 {
  grid-area: an9;
  animation: flicker1 infinite 0.5s;
}

#an10 {
  grid-area: an10;
  animation: flicker1 infinite 0.5s;
}

#an8 {
  grid-area: an8;
  animation: flicker0 infinite 0.5s;
}

#an11 {
  grid-area: an11;
  animation: flicker0 infinite 0.5s;
}

@keyframes flicker0 {
  0%,
  49% {
    background-color: red;
  }
  50%,
  100% {
    background-color: transparent;
  }
}

@keyframes flicker1 {
  0%,
  49% {
    background-color: transparent;
  }
  50%,
  100% {
    background-color: red;
  }
}

#eye {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 10px;
}

#eye::before {
  content: "";
  background-color: white;
  width: 20px;
  height: 50px;
  transform: translateX(10px);
  display: block;
  position: absolute;
}

#eye::after {
  content: "";
  background-color: white;
  width: 40px;
  height: 30px;
  transform: translateY(10px);
  display: block;
  position: absolute;
}

#eye1 {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#eye1::before {
  content: "";
  background-color: white;
  width: 20px;
  height: 50px;
  transform: translateX(10px);
  display: block;
  position: absolute;
}

#eye1::after {
  content: "";
  background-color: white;
  width: 40px;
  height: 30px;
  transform: translateY(10px);
  display: block;
  position: absolute;
}

#pupil {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1;
  animation: eyesMovement infinite 3s;
}

#pupil1 {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  animation: eyesMovement infinite 3s;
}

@keyframes eyesMovement {
  0%,
  49% {
    transform: translateX(0px);
  }
  50%,
  99% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

#shadow {
  background-color: black;
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 50%;
  transform: rotateX(80deg);
  filter: blur(20px);
  top: 80%;
  animation: shadowMovement infinite 0.5s;
}

@keyframes shadowMovement {
  0%,
  49% {
    opacity: 0.5;
  }
  50%,
  100% {
    opacity: 0.2;
  }
}


img {
    max-width: 30vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

